.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;

  min-width: 0;
}

.submit {
  flex: 1 1 auto;
}

.icon {
  flex: none;
  width: 17px;
  height: 17px;
}
