.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.link {
  color: #13d8f4;
}

.link:hover {
  text-decoration: none;
}

.submit {
  align-self: flex-start;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.doneTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #f2f7f8;
}

.doneText {
  margin-bottom: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #8c9aa2;
}
