.section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 28px;
  gap: 12px;

  scroll-margin-top: 100px;

  border-bottom: 1px solid #273138;
}

.section:last-child {
  padding-bottom: 0;

  border-bottom: none;
}

.title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;

  color: #f2f7f8;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 165%;

  color: #b7c3ca;
}

.subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #f2f7f8;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;

  list-style: none;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: #b7c3ca;
}

.item::before {
  content: "—";

  flex: none;

  color: #13d8f4;
}

.fields {
  box-sizing: border-box;
  padding: 14px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  white-space: pre-wrap;

  color: #13d8f4;
  background: #101519;
  border: 1px solid #273138;
  border-radius: 4px;
}
