.header {
  position: sticky;
  top: 0;
  z-index: 300;

  box-sizing: border-box;
  flex: none;
  width: 100%;

  background: #0c1114;
  border-bottom: 1px solid #273138;
}

.announcement {
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;

  background: #062c33;
}

.announcementText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #13d8f4;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  gap: 16px;

  width: 100%;
  max-width: 768px;
  height: 77px;
  margin: 0 auto;
}

.nav {
  display: none;
}

.search {
  flex: 1 1 0;
}

.actions {
  display: flex;
  flex: none;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.favorites {
  padding: 6px;
}

.icon {
  width: 21px;
  height: 21px;
}

.actions .desktop,
.actions .favorites {
  display: none;
}

.actions .burger {
  margin-left: 6px;
}

@media (min-width: 768px) {
  .main {
    padding: 0 24px;
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .main {
    padding: 0 120px;
    gap: 32px;

    max-width: 1440px;
  }

  .nav {
    display: flex;
    flex: none;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .actions .desktop,
  .actions .favorites {
    display: flex;
  }

  .actions .burger {
    display: none;
  }
}
