.total {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #8c9aa2;
}

.empty,
.error {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #8c9aa2;
}

.error {
  color: #ff9d3d;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 14px;
}

.body:empty {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  list-style: none;
}
