.loader {
  box-sizing: border-box;
  display: block;
  flex: none;

  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

.sm {
  width: 18px;
  height: 18px;
}

.lg {
  width: 40px;
  height: 40px;
  margin: 48px auto;

  color: #13d8f4;
  border-width: 3px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
