.cart {
  padding: 6px 10px;
}

.icon {
  flex: none;
  width: 21px;
  height: 21px;

  color: #13d8f4;
}

.total {
  display: none;

  font-weight: 700;

  color: #f2f7f8;
  transition: color 0.15s ease;
}

.cart:hover .total,
.cart.active .total {
  color: #13d8f4;
}

.count {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;

  min-width: 20px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  color: #080b0d;
  background: #13d8f4;
  border-radius: 999px;
}

@media (min-width: 768px) {
  .total {
    display: block;
  }
}
