.review {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px 12px;
}

.author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #f2f7f8;
}

.date,
.hidden {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #59666d;
}

.hidden {
  text-transform: uppercase;

  color: #ff9d3d;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  white-space: pre-line;

  color: #8c9aa2;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
