.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;

  color: #f2f7f8;
}

.subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #8c9aa2;
}

.divider {
  width: 100%;
  height: 0;

  border: none;
  border-top: 1px solid #273138;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .title {
    font-size: 42px;
    line-height: 49px;
  }
}
