.benefits {
  background: #0c1114;
}

.list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 32px 16px;
  gap: 24px 16px;

  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  list-style: none;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.icon {
  flex: none;
  width: 28px;
  height: 28px;

  color: #13d8f4;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  max-width: 160px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #f2f7f8;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;

  color: #8c9aa2;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    padding: 40px 24px;
  }

  .benefit {
    flex-direction: row;
    gap: 14px;
  }

  .title {
    white-space: nowrap;
  }
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: normal;
    padding: 48px 120px;

    max-width: 1440px;
  }
}
